/* Image backgroud style */
.image-fixed {
  position: fixed;
  top: 573px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.image-stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* CONTENT STYLE */
.content {
  max-width: 664px;
  width: 100%;
  margin-inline: auto;
  padding-top: 96px;
}

.content__heading {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}

.content__desc {
  color: var(--subTextColor);
  margin-top: 20px;
  text-align: center;
}

.form-search {
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  /* background-color: var(--bgColor3); */
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 48px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-inline: auto;
}

.form-search__input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 19px;
  color: var(--textColor);
}

.form-search__btn {
  flex-shrink: 0;
}

/* SCAMMER */
.alert-scam {
  margin-top: 138px;
  background-color: var(--bgColor4);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.alert-scam__header {
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.alert-scam__title {
  font-size: 30px;
  font-weight: 800;
  background-color: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}

.alert-scam__desc {
  color: var(--subTextColor);
  margin-top: 8px;
}

.scammer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.scammer__list-wrap {
  padding: 50px 30px;
}

.scammer__list li {
  list-style: none;
}

.scammer__item {
  background-color: var(--bgColor3);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.scammer__item > * {
  pointer-events: none;
}

.scammer__item:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}

.scammer__item::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier((0.165, 0.85, 0.45, 1));
}

.scammer__avatar {
  width: 40px;
  height: 40px;
}

.scammer__name {
  font-weight: 600;
}

.scammer__date {
  color: var(--subTextColor);
}

.warning {
  margin-top: 60px;
}

.warning__title {
  text-align: center;
}

.warning__item-title {
  font-weight: 600;
}

.warning__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.warning__list li {
  list-style: none;
}

.warning__item {
  background-color: var(--bgColor3);
  border-radius: 16px;
  padding: 16px;
  backdrop-filter: blur(70px);
}

.warning__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.warning__header > * {
  pointer-events: none;
}

.warning__header-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.warning__content {
  /* margin-top: 8px; */
  margin-left: 32px;
  color: var(--subTextColor);
  height: 0;
  overflow: hidden;
  transition: ease 0.2s;
}

.warning__content.active {
  height: auto;
}

.warning__header-icon.active {
  transform: rotate(90deg);
  transition: transform ease 0.3s;
}

/* ==== Reposive Style ===*/
@media only screen and (max-width: 1023px) {
  .content {
    padding-top: 26px;
    max-width: 100%;
  }

  .imgmage-fixed {
    top: 10%;
  }

  .content__heading {
    font-size: 26px;
    font-weight: 900;
  }

  .content__desc {
    font-size: 16px;
    margin-top: 8px;
  }

  .form-search {
    margin-top: 16px;
  }

  .alert-scam {
    margin-top: 40px;
  }

  .scammer__list {
    grid-template-columns: 1fr;
  }
  .scammer__list-wrap {
    padding: 16px;
  }

  .warning {
    margin-top: 56px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .content {
    max-width: 500px;
  }

  .scammer__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
